<!DOCTYPE html>
<html>
	<head>
		<title>Dashboard</title>
		<link rel="icon" type="image/png" href="https://th.bing.com/th/id/OIP.3C_EHrvSoYKCLlrDgwYdAQHaHa?pid=ImgDet&rs=1"/>
		<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
	</head>
	<body align="center">
		<div class="topnav" style="align-items: center;">
  			<a class="active" href="/">Home</a>
  			<a href="/kitchen">Kitchen</a>
  			<a href="/network">WiFi</a>
			<a href="/manas">Manas</a>
			<a href="/manas">Vineet</a>
			<a href="/manas">Arpita</a>
			<a href="/manas">Vaibhav</a>
		</div>
		<table style="height: 100%;width: 100%;">
			<tr>
				<td style="width: 30%;height: 100%;">
					<h1> To do list </h1>
					<form action="#" method="POST">
						Task: <input type="text" name="taskentry" />
						<br><br>
						Assign to: 
						<select name="assignto">  
							<option value = "all" selected> All  
							</option>  
							<option value = "manas"> Manas   
							</option>  
							<option value = "arpita"> Arpita  
							</option>  
							<option value = "vineet"> Vineet  
							</option>
							<option value = "vaibhav"> Vaibhav  
							</option>
							</select>  
						<br><br>

						<button type="submit">ADD</button>
					</form>
					<p>{{numelements}} Tasks active</p>
					<div>
					<table class="table" align = "center" style="width: 100%;">
					{% for task in tasks %}
						<tr style="width: 100%;">
							<td>{{ task }} <a href="{{url_for('delelement', task = task)}}">Del</a>
							</td>
						</tr>
					{% endfor %}
					</table>
					</div>
				</td>
				<td style="width: 50%;height: 100%;background-color: aqua;">
					<h1 style="align:center;">Hello World</h1>
				</td>
				<td>
					<h1>Profiles:</h1>
					<button href="/manas">Manas</button>
					<button>Vaibhav</button>
					<button>Vineet</button>
					<button>Arpita</button>
				</td>
			</tr>
		</table>
		
	</body>
</html>

