<!DOCTYPE html>
<html>
	<head>
		<title>Dashboard</title>
		<link rel="icon" type="image/png" href="https://th.bing.com/th/id/OIP.3C_EHrvSoYKCLlrDgwYdAQHaHa?pid=ImgDet&rs=1"/>
		<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
	</head>
    <body align="center">
        <div class="topnav" style="align-items: center;">
            <a href="/">Home</a>
            <a href="/kitchen">Kitchen</a>
            <a class="active" href="/network">WiFi</a>
          <a href="/manas">Manas</a>
          <a href="/manas">Vineet</a>
          <a href="/manas">Arpita</a>
          <a href="/manas">Vaibhav</a>
        </div>

        <h1>{{name}}</h1>
        <table style="height: 100%;width: 100%;align-self: center;border: black;">
            <h1>Connected Devices</h1>
            {% for device in devices %}
            <tr>
                <td>{{device}}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>