<!DOCTYPE html>
<html>
	<head>
		<title>Vaibhav Dashboard</title>
		<link rel="icon" type="image/png" href="https://th.bing.com/th/id/OIP.3C_EHrvSoYKCLlrDgwYdAQHaHa?pid=ImgDet&rs=1"/>
		<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
	</head>
	<body align="center" style="background-color: #b0b0b0;">
		<div class="topnav" style="align-items: center;">
  			<a href="/">Home</a>
  			<a href="/kitchen">Kitchen</a>
  			<a href="/network">WiFi</a>
			<a href="/manas">Manas</a>
			<a href="/vineet">Vineet</a>
			<a href="/arpita">Arpita</a>
			<a class="active" href="/vaibhav">Vaibhav</a>
		</div>
    </body>
</html>